@import "../../../../assets/styles/auth-form";

.signup {

  .container {
    display: flex;

    .page-image {
      margin-left: 178px;
      margin-top: 123px;
      margin-bottom: 92px;
    }
  }
}
